doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="styles/app.css")
    body
        #root
        script(src="https://momentjs.com/downloads/moment.min.js")
        script(src="https://momentjs.com/downloads/moment-timezone-with-data-10-year-range.min.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js")
        script(src="https://unpkg.com/react@17/umd/react." + reactEnv + ".js", crossorigin)
        script(src="https://unpkg.com/react-dom@17/umd/react-dom." + reactEnv + ".js", crossorigin) 
        script(src="/components/App.js")
        script(src="/components/DisplayName.js")
        script.
            const domContainer = document.getElementById('root')
            ReactDOM.render(createElement(App), domContainer)