doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(rel="stylesheet", href="styles/main.css")
        link(rel="stylesheet", href="styles/app.css")
    body
        #root
        if env === "production"
            script(src="https://momentjs.com/downloads/moment.min.js")
            script(src="https://momentjs.com/downloads/moment-timezone-with-data-10-year-range.min.js")
            script(src="https://cdnjs.cloudflare.com/ajax/libs/uuid/8.3.2/uuid.min.js")
            script(src="https://unpkg.com/react@17/umd/react." + reactEnv + ".js", crossorigin)
            script(src="https://unpkg.com/react-dom@17/umd/react-dom." + reactEnv + ".js", crossorigin)
        else
            //- Offline dependencies
            script(src="scripts/vendor/qs.min.js") 
            script(src="scripts/vendor/moment.min.js")
            script(src="scripts/vendor/moment-data-10.min.js")
            script(src="scripts/vendor/uuid.min.js")
            script(src="scripts/vendor/react-development.js")
            script(src="scripts/vendor/react-dom-development.js")  
            //- 

        script(src="scripts/api.js") 
        script(src="scripts/components/App.js")
        script.
            const domContainer = document.getElementById('root')
            ReactDOM.render(createElement(App), domContainer)