@import './fonts.css';
@import './colors.css';
@import './icons.css';


/* General layout */

.app-container {
    display: grid;
    /* grid-template-columns: auto;
    grid-template-rows: auto;
    grid-template-areas: 
        "clock-board"
        "contact-panel"
        "event-panel"; */
}

.main-navbar {
    grid-area: main-navbar;
    z-index: 2;
}

.contact-panel {
    grid-area: contact-panel;
    max-width: 240px;
}

.clock-board {
    grid-area: clock-board;
    padding: 0% 20px;
}

.event-panel {
    grid-area: event-panel;
    max-width: 280px;
}

.main-footer {
    grid-area: main-footer;
}

@media screen and (min-width: 1280px) {
    .app-container {
        grid-template-columns:  auto 240px 680px 280px auto;
        grid-template-rows: 80px calc(100vh - 80px - 40px) 40px;
        grid-template-areas: 
        "main-navbar main-navbar main-navbar main-navbar main-navbar"
        ". contact-panel clock-board event-panel ."
        "main-footer main-footer main-footer main-footer main-footer";
        justify-content: stretch;
    }
}


/* Specific components */

/* NavBar */

.main-navbar {
    display: grid;
    grid-template-columns: calc(50vw - 620px) 2fr 5fr 1fr 2fr calc(50vw - 620px);
    grid-template-rows: auto;
    grid-template-areas: 
        ". main-navbar-logo main-navbar-config main-navbar-button main-navbar-session .";
    align-items: center;
    column-gap: 20px;
}

.main-navbar h1 {
    grid-area: main-navbar-logo;
}

.main-navbar-config {
    grid-area: main-navbar-config;
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
}

.main-navbar-config div:not(:nth-last-child(1)) {
    padding-left: 12px;
}

.main-navbar-config label {
    padding-right: 12px;
}

.main-navbar-button {
    grid-area: main-navbar-button;
}

.main-navbar-button, .main-navbar-session button:not(.main-navbar-signin), .main-navbar-theme {
    border: none;
    border-radius: 0%;
}

.main-navbar-session {
    grid-area: main-navbar-session;
}

.main-navbar-signin {
    margin-left: 16px;
}

.main-navbar-session-logged {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.user-session-input {
    width: 120px !important;
    cursor: pointer !important;
}

.user-session-menu {
    position: fixed;
    margin-top: -8px;
    padding: 12px 20px;
}

.user-session-menu li {
    padding: .25rem
}

.user-session-menu li:nth-child(1) {
    margin-bottom: 8px;
}

/* Clock board */

.clock-board-header {
    z-index: 1;
}

.clock-board-buttons button {
    margin-right: 8px;
}

.clock-creator form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.clock-creator form div {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-bottom: 20px;
}

.clock-creator form label {
    padding-bottom: 4px;
}

.clock-creator  input[type=submit], .clock-creator form button {
    margin-right: 8px;
}

.clock-board-body {
    overflow-y: scroll;
    max-height: calc(100vh - 80px - 114px - 40px);
}

/* Clock */

.clock-list {
    display: grid;
    column-gap: 40px;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
}

.main-clock {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-clock-timer {
    margin: 20px 0;
}

.main-clock-controls {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

/* Contact panel */

.contact-panel-header {
    overflow: hidden;
    position: fixed;
    top: 80px;
    width: 200px;
    padding: 0% 20px;
    padding-bottom: 16px;
    margin-left: -1px;
    z-index: 1;
}

.contact-panel-buttons button {
    margin-right: 8px;
}

.contact-input form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.contact-input form div {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-bottom: 20px;
}

.contact-input form label {
    padding-bottom: 4px;
}

.contact-input form input[type=submit], .contact-input form button {
    margin-right: 8px;
}

.contact-panel-body {
    margin-top: 114px;
    padding: 0% 20px;
    max-height: calc(100vh - 80px - 114px - 40px);
    overflow-y: scroll;
}

/* Contact */

.contact-list {
    display: flex;
    flex-direction: column;
    margin-top: 0%;
    width: 200px;
}

.contact {
    padding: 12px 0;
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "contact-name contact-clock"
        "contact-timezone contact-timezone"
        "contact-controls contact-controls";
}

.contact-name {
    grid-area: contact-name;
}

.contact-clock {
    grid-area: contact-clock;
}

.contact-timezone {
    grid-area: contact-timezone;
}

.contact-controls {
    grid-area: contact-controls;
}

.contact-name, .contact-clock, .contact-timezone, .contact-controls {
    margin: 8px 0;
}

/* Event panel */

.event-panel-header {
    overflow: hidden;
    position: fixed;
    top: 80px;
    width: 240px;
    padding: 0% 20px;
    padding-bottom: 16px;
    z-index: 1;
}

.event-panel-buttons button {
    margin-right: 8px;
}

.event-input form {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

.event-input form div {
    display: flex;
    flex-direction: column;
    padding-right: 20px;
    padding-bottom: 20px;
}

.event-input form label {
    padding-bottom: 4px;
}

.event-input form input[type=submit], .event-input form button {
    margin-right: 8px;
}

.contact-selector-list {
    padding: 8px 0%;
    max-height: 180px;
    overflow-y: scroll;
}

.event-panel-body {
    margin-top: 114px;
    padding: 0% 20px;
    padding-top: 16px;
    max-height: calc(100vh - 80px - 114px - 16px - 40px);
    overflow-y: scroll;
}

/* Event */

.event-list {
    display: flex;
    flex-direction: column;
    margin-top: 0%;
}

.event-list > p {
    margin-top: 0%;
}

.event {
    padding: 12px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "event-name event-datetime"
        "event-timezone event-timezone"
        "event-timeleft event-controls"
        "event-participants event-participants";
}

.event-name {
    grid-area: event-name;
}

.event-datetime {
    grid-area: event-datetime;
}

.event-timezone {
    grid-area: event-timezone;
}

.event-timeleft {
    grid-area: event-timeleft
}

.event-controls {
    grid-area: event-controls;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.event-participants {
    grid-area: event-participants;
}

.event-participants summary {
    padding-bottom: 8px;
}

.event-participants ul {
    max-height: 180px;
    overflow-y: scroll;
}

.event-participants li {
    padding: 4px;
    margin-bottom: 4px;
}

.event-participants li:nth-last-child(1) {
    margin-bottom: 0%;
}

.event-name, .event-datetime, .event-timezone, .event-timeleft, .event-participants {
    margin: 8px 0;
}