@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

:root {
    --pnl-item-name-weight: bold;

    --pnl-item-tz-weight: lighter;
}

/* Defaults */

body {
    font-family: 'Nunito', sans-serif;
}

h2 {
    text-transform: uppercase;
    font-weight: lighter;
    letter-spacing: 2px;
}

h2.subtitle {
    text-transform: none;
    letter-spacing: initial;
    font-size: 1.125rem;
}

button, select, input {
    font-family: 'Ubuntu', sans-serif;
}


/* App fonts */

/* General components */

.event-name, .contact-name {
    font-weight: var(--pnl-item-name-weight);
}

.event-timezone, .contact-timezone {
    font-weight: var(--pnl-item-tz-weight);
    font-size: .875rem;
}


/* Specific components */

@media screen and (max-width: 407px) {
    /* Main NavBar */

    .main-navbar h1 {
        font-size: 1.25rem;
    }

    /* Side panels */

    .contact-panel h2, .event-panel h2 {
        font-size: 1.25rem;
    }
}

@media screen and (max-width: 525px) {
    /* Main footer */

    .main-footer button p {
        text-transform: uppercase;
        letter-spacing: 1px;
        padding-top: 4px;
    }

    .main-footer button:hover p, .main-footer button.btm-menu-active p {
        font-weight: bold;
    }
}

.user-session-menu a:hover {
    font-weight: bold;
}

@media screen and (max-width: 1279px) {
    .main-navbar-config label {
        font-weight: bold;
    }
}

/* Main Clock */

.main-clock-timer {
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    font-size: 2rem;
}

.timer-with-secs {
    font-size: 1.75rem;
}

.main-clock-name {
    font-size: 1.25rem;
}

.main-clock-timezone {
    font-size: .75rem;
    font-weight: lighter;
    text-transform: uppercase;
    letter-spacing: 2px;
}


/* Signin fonts */

.guest-signin {
    font-size: 1rem;
}

.guest-signin:hover {
    font-weight: bold;
    text-decoration: underline;
}